.cart {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px ;
    align-items: center;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    margin: 10px;
}

.Input {
    display: flex;
    margin: 100px;
    align-items: center;
}